@font-face {
  font-family: Vazir;
  src: url("./static/fonts/vazir/Vazir-Regular.eot");
  src: url("./static/fonts/vazir/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/vazir/Vazir-Regular.woff2") format("woff2"),
    url("./static/fonts/vazir/Vazir-Regular.woff") format("woff"),
    url("./static/fonts/vazir/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./static/fonts/vazir/Vazir-Bold.eot");
  src: url("./static/fonts/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/vazir/Vazir-Bold.woff2") format("woff2"),
    url("./static/fonts/vazir/Vazir-Bold.woff") format("woff"),
    url("./static/fonts/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./static/fonts/vazir/Vazir-Black.eot");
  src: url("./static/fonts/vazir/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/vazir/Vazir-Black.woff2") format("woff2"),
    url("./static/fonts/vazir/Vazir-Black.woff") format("woff"),
    url("./static/fonts/vazir/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./static/fonts/vazir/Vazir-Medium.eot");
  src: url("./static/fonts/vazir/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/vazir/Vazir-Medium.woff2") format("woff2"),
    url("./static/fonts/vazir/Vazir-Medium.woff") format("woff"),
    url("./static/fonts/vazir/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./static/fonts/vazir/Vazir-Light.eot");
  src: url("./static/fonts/vazir/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/vazir/Vazir-Light.woff2") format("woff2"),
    url("./static/fonts/vazir/Vazir-Light.woff") format("woff"),
    url("./static/fonts/vazir/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./static/fonts/vazir/Vazir-Thin.eot");
  src: url("./static/fonts/vazir/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/vazir/Vazir-Thin.woff2") format("woff2"),
    url("./static/fonts/vazir/Vazir-Thin.woff") format("woff"),
    url("./static/fonts/vazir/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  direction: rtl;
}
body {
  margin: 0;
  font-family: Vazir, Arial, sans-serif;
  color: #333;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
